// Here you can add other styles
.Login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

.ais-Hits-list {
  display: flex;
    position: absolute;
    top: 100%;
    z-index: 1000;
    float: right;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 0.875rem;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    border: 1px solid;
    border-radius: 0.25rem;
    color: #4f5d73;
    background-color: #fff;
    border-color: #d8dbe0;
    flex-direction: column;
}